<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>ABOUT PAGE</title>
</head>
<body>
    <h1>Welcome to our about page!</h1>
    <h3>About Us</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Officia exercitationem eligendi blanditiis saepe minima dolores
        animi voluptatum repellat in. Recusandae, ut reiciendis magni
        eius mollitia possimus tempora inventore consequatur. Voluptatem?
    </p>
</body>
</html>